.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

section .content {
    width: 75%;
    text-align: left;
    margin: 0 auto;
}

pre {
    margin-bottom: 1.5em;
}
code {
    background: #dedede;
    color: #ed6c63;
    font-size: 18px;
    font-weight: 400;
    padding: 1px 2px 2px;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
}
.fa.fa-code {
    color: #ed6c63;
}
a {
    border-bottom: solid 1px #ed6c63;
}
img.img-responsive {
    width: 100%;
}
